<div id="col-top"></div>
<div id="col">

<h3>Listing Diseases</h3>

<%= will_paginate @m2d_diseases, :params => params %>

<% if !@m2d_diseases.empty? %>
<table class="search">
  <tr><th>DOID</th><th>name</th><tr>
  <%= render @m2d_diseases %>
</table>
<% end %>

Plugin based on data from <a href="http://www.mir2disease.org">miR2Disease</a>.

</div> <!-- /col -->
<div id="col-bottom"></div>
